@import "../../sass/mixins";

.container {
    width: 100%;
    height: 100vw;
}

@include mobile {
    .container {
        width: 440px;
        height: 440px;
    }
}

@include tablet {
    .container {
        width: 728px;
        height: 600px;
    }
}

@include desktop {
    .container {
        width: 1220px;
        height: 900px;
    }
}
